body {
  background-color: white;
  color: #0000FF;
  font-size: 16px;
  color: black;
  line-height: 2em;
  font-family: Open Sans;
  text-decoration: none;
}

h1 {
  text-align:center;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 4em;
}

h3 {
  font-size: 1.5em;
  line-height: normal;

}

figcaption {
  font-size: 75%;
  font-style: italic;
  text-align: center;

}

p {
  font-size: 100%;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.medium-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
color: blue;
}

ul {
  list-style-type: none;
  float: right;
}

li {

  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
